<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
          
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 6px;
            font-weight: bold;
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #F4F1FF;
            color: black;
          
            padding: 20px;
            
           
        }
    </style>
</head>
<body>
    <h2 style="color: black;">Hi <span style="color: #2C1D57;">{{ user.first_name }} 👋</span>,</h2>
    
    <p style="color: black;">This is a friendly reminder that your subtask <span ><strong style="color: black;">{{ ai_subtask.title }}</strong></span> is overdue!.</p>
    <p class="gap-2">📌 <strong style="color: black;">Parent Task:</strong>  <span style="color: black;">{{ ai_task.title }}</span></p>

    <p style="margin-bottom: 30px; margin-top: 30px;">
        <a href="{{ app_link }}" class="button" style="background-color: #2C1D57; color: #F4F1FF; font-weight: 100; border-radius: 10px; 
        box-shadow: inset 0px 4px 4px rgba(43, 24, 89, 0.15),
                    -8px 0px 12px rgba(43, 24, 89, 0.10),
                    0px 8px 12px rgba(43, 24, 89, 0.50);">
        🔗 View subtask
      </a>
       </p>

    <p style="font-size: small; color: #2C1D57;">You’re doing great — keep the momentum going!  💪<br><span style="font-size:small; font-weight: 800; color: #2C2640;">The Kommitly Team</span></p>
</body>
</html>
